### Map

In [1]:
import os
import pandas as pd
import numpy as np

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", 
    na_values=['NA', '?'])

# Apply the map
df['origin_name'] = df['origin'].map(
    {1: 'North America', 2: 'Europe', 3: 'Asia'})

# Shuffle the data, so that we hopefully see
# more regions.
df = df.reindex(np.random.permutation(df.index))

display(df)

      mpg  cylinders  ...                              name    origin_name
84   27.0          4  ...          toyota corolla 1600 (sw)           Asia
362  24.2          6  ...                 datsun 810 maxima           Asia
136  16.0          8  ...                  ford gran torino  North America
368  27.0          4  ...          chevrolet cavalier wagon  North America
349  34.1          4  ...                       mazda glc 4           Asia
..    ...        ...  ...                               ...            ...
73   13.0          8  ...  chevrolet chevelle concours (sw)  North America
236  25.5          4  ...               ford mustang ii 2+2  North America
162  15.0          6  ...                       amc matador  North America
105  13.0          8  ...            plymouth custom suburb  North America
327  36.4          5  ...               audi 5000s (diesel)         Europe

[398 rows x 10 columns]

### Apply

In [2]:
efficiency = df.apply(lambda x: x['displacement']/x['horsepower'], axis=1)
df['efficiency'] = efficiency
display(efficiency[0:10])

84     1.102273
362    1.216667
136    2.157143
368    1.272727
349    1.338235
359    1.762500
120    1.080357
123    1.278689
129    1.179104
281    2.352941
dtype: float64